@import 'antd/dist/reset.css'; 

.list-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    height: 100%;
}

.list-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
}

.list-title {
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
}

.list-container form{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 30px;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.form h1 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
}

.ant-form-item-label  {
  font-weight: bold;
  color: #333;
  text-align: left !important;
  margin-top: -1vh !important;
  margin: 1vh;
}


.ant-modal-title {
  text-align: center !important; 
  font-size: 20px !important;
  font-weight: bold !important;
  margin-bottom: 50px !important;
}

.ajouter {
  width: 300px !important;
  align-self: center !important;
}

.date-picker-container {
  width: 100%;
}
